<div class="form-group">
  <label [for]="id()">
    {{ label() }}
  </label>

  <div class="mt-1">
    @if (statusForm() === 'detail') {
      <input type="text" readonly [value]="currentValue()" />
    } @else {
      <select
        [id]="id()"
        [formField]="field()"
        [attr.aria-describedby]="isInvalid() ? id() + '-error' : null"
        [attr.aria-invalid]="isInvalid() || null"
        [class.outline-red-500]="isInvalid()"
      >
        <option value="" disabled selected>Select an option</option>
        @for (option of options(); track option['value']) {
          <option [value]="option['value']">{{ option['label'] }}</option>
        }
      </select>
    }
  </div>

  @if (isInvalid()) {
    @for (error of errors(); track error.message) {
      <p
        [id]="id() + '-error'"
        role="alert"
        class="absolute top-auto bottom-1 left-0 text-xs text-red-400"
      >
        {{ error.message }}
      </p>
    }
  }
</div>
