<div class="form-group">
  <div class="mt-1 flex items-center gap-2">
    <input
      [id]="id()"
      type="checkbox"
      [formField]="field()"
      [attr.aria-describedby]="isInvalid() ? id() + '-error' : null"
      [attr.aria-invalid]="isInvalid() || null"
      class="hidden"
    />
    <label [for]="id()">
      {{ label() }}
    </label>
    <button
      type="button"
      class="border-primary flex h-6 w-6 items-center justify-center border-2"
      [class.bg-primary]="isChecked()"
      (click)="onToggleChecked()"
      [disabled]="statusForm() === 'detail'"
    >
      <svg
        class="h-4 w-4"
        [class.text-white]="isChecked()"
        [class.text-transparent]="!isChecked()"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
    </button>
  </div>

  @if (isInvalid()) {
    @for (error of errors(); track error.message) {
      <p
        [id]="id() + '-error'"
        role="alert"
        class="absolute top-auto bottom-1 left-0 text-xs text-red-400"
      >
        {{ error.message }}
      </p>
    }
  }
</div>
