<div class="form-group">
  <label [for]="id()">
    {{ label() }}
  </label>

  <div class="mt-1">
    <input
      [id]="id()"
      [type]="type()"
      [formField]="field()"
      [autocomplete]="autocomplete()"
      [placeholder]="placeholder()"
      [attr.aria-describedby]="isInvalid() ? id() + '-error' : null"
      [attr.aria-invalid]="isInvalid() || null"
      [class.outline-red-500]="isInvalid()"
      [style.padding-right.px]="type() === 'password' ? 40 : 0"
    />
    @if (_type() === 'password') {
      @if (showPassword()) {
        <svg
          [lucideIcon]="lucideEyeOff"
          (click)="togglePassword()"
          class="text-primary/50 dark:text-light-text/50 absolute top-1/2 right-3 -translate-y-1/2"
        ></svg>
      } @else {
        <svg
          [lucideIcon]="lucideEye"
          (click)="togglePassword()"
          class="text-primary/50 dark:text-light-text/50 absolute top-1/2 right-3 -translate-y-1/2"
        ></svg>
      }
    }
  </div>

  @if (isInvalid()) {
    @for (error of errors(); track error.message) {
      <p
        [id]="id() + '-error'"
        role="alert"
        class="absolute top-auto bottom-1 left-0 text-xs text-red-400"
      >
        {{ error.message }}
      </p>
    }
  }
</div>
