<app-item-list
  [title]="title"
  [add]="'create'"
  [page]="page()"
  [limit]="limit()"
  [total]="total()"
  [totalPages]="totalPages()"
  [hasPreviousPage]="hasPreviousPage()"
  [hasNextPage]="hasNextPage()"
  [showFiltersButton]="true"
  (refresh)="loadUsers()"
  (firstPage)="onFirstPage()"
  (lastPage)="onLastPage()"
  (nextPage)="onNextPage()"
  (previousPage)="onPreviousPage()"
  (itemsPerPage)="onItemsPerPage($event)"
  (searchUsers)="onSearchUsers($event)"
  (onShowFilters)="toggleShowFilters()"
>
  @if (showFiltersButtons()) {
    <div
      class="flex items-center justify-center gap-2 overflow-hidden py-2 transition-all duration-1000 ease-in-out"
      [ngClass]="showFiltersButtons() ? 'h-auto opacity-100' : 'h-0 opacity-0'"
    >
      @for (role of userRoles; track role.role) {
        <button
          class="btn btn-light w-[100px] max-w-[100px] min-w-[100px] shrink"
          (click)="onRoleChange(role.role)"
        >
          {{ role.label }}
        </button>
      }
      <button
        class="btn btn-light w-[100px] max-w-[100px] min-w-[100px] shrink"
        (click)="onRoleChange(null)"
      >
        X
      </button>
    </div>
  }
  <table class="item-list-table w-full">
    <thead class="w-full">
      <tr>
        <th class="table-col-id text-center">Id</th>
        <th>Fullname</th>
        <th class="max-md:hidden">Email</th>
        <th class="max-lg:hidden">Phone</th>
        <th class="max-sm:hidden">Role</th>
        <th class="table-column-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading()) {
        <tr>
          <td colspan="6" class="py-12 text-center">
            <app-spinner-tables />
          </td>
        </tr>
      } @else if (errorMessage()) {
        <tr>
          <td colspan="6" class="py-12 text-center">
            <p class="text-lg font-bold text-red-500">Error</p>
            <p class="text-gray-600">{{ errorMessage() }}</p>
          </td>
        </tr>
      } @else {
        @for (user of users(); track user.id) {
          <tr>
            <td class="table-col-id">{{ user.id }}</td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td class="max-md:hidden">{{ user.email }}</td>
            <td class="max-lg:hidden">{{ user.phoneNumber }}</td>
            <td class="max-sm:hidden">{{ user.role }}</td>
            <td class="table-column-actions">
              <app-item-list-table-actions [itemId]="user.id" (deleteItem)="onDeleteItem($event)" />
            </td>
          </tr>
        } @empty {
          <p>No users found</p>
        }
      }
    </tbody>
  </table>
</app-item-list>
