<header
  class="bg-dark-background dark:bg-darker-background text-light-text shadow-primary-hover/30 dark:shadow-primary/30 px-4 py-4 shadow-md"
>
  <div class="mx-auto flex max-w-7xl flex-nowrap items-center gap-4">
    <app-logo-header class="shrink-0" />
    <app-search-header class="flex-1" />
    <app-actions-header class="hidden shrink-0 lg:block" />
  </div>
  <div class="mx-auto flex max-w-7xl justify-between pt-4 lg:items-center lg:justify-center">
    <app-menu-header />
    <app-actions-header class="shrink-0 lg:hidden" />
  </div>
  <app-admin-menu />
</header>
