<div class="form-group form-group--file">
  <label class="form-group__label">
    {{ label() }}
  </label>

  <div class="form-group--file__input overflow-hidden">
    <div
      class="absolute top-[15px] left-1 m-0 flex w-full max-w-[90%] -translate-y-1/2 items-center gap-x-2 overflow-hidden"
    >
      <button class="btn btn-primary btn-label">Choose file</button>
      <span>{{
        field()().value() && field()().value().name ? field()().value().name : 'No file chosen'
      }}</span>
    </div>
    <input
      [id]="id()"
      type="file"
      #fileInput
      [accept]="accept"
      (change)="onFileChange($event)"
      [attr.aria-describedby]="isInvalid() ? id() + '-error' : null"
      [attr.aria-invalid]="isInvalid() || null"
      [class.outline-red-500]="isInvalid()"
    />
    @if (field()().value() && field()().value() !== null) {
      <button
        type="button"
        class="text-danger absolute top-1/2 right-2 -translate-y-1/2"
        (click)="deleteFile()"
      >
        X
      </button>
    }
  </div>

  @if (isInvalid()) {
    @for (error of errors(); track error.message) {
      <p
        [id]="id() + '-error'"
        role="alert"
        class="absolute top-auto bottom-1 left-0 text-xs text-red-400"
      >
        {{ error.message }}
      </p>
    }
  }
</div>
