/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #0066ff;
  --color-primary-hover: #0052cc;
  --color-primary-light: #cce0ff;
  --color-secondary: #f57c00;
  --color-secondary-hover: #ff8c00;
  --color-background: #e5f0ff;
  --color-dark-background: #001433;
  --color-darker-background: #000e24;
  --color-dark-text: #000e24;
  --color-light-text: #e5f0ff;
}

body {
  @apply bg-background text-dark-text dark:bg-dark-background dark:text-light-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary-hover dark:text-light-text font-bold;
}

a,
button {
  @apply cursor-pointer;
}

input,
textarea {
  @apply border-primary/50 focus:border-primary text-dark-text/70 border outline-none block w-full rounded-md bg-white/5 px-3 py-1.5 dark:text-light-text outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 placeholder:dark:text-gray-400/60 focus:outline-2 focus:-outline-offset-2 sm:text-sm/6;
}

.form-group {
  @apply relative pb-6;
}

.form-group div {
  @apply mt-1;
}

.form-group label {
  @apply block text-sm/6 font-medium text-primary/80;
}

button {
  @apply disabled:cursor-not-allowed;
}

.btn {
  @apply text-light-text flex w-full justify-center rounded-md px-3 py-2 text-sm/6 font-semibold focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-primary {
  @apply bg-primary text-light-text hover:bg-primary-hover focus-visible:outline-primary focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-secondary {
  @apply bg-secondary text-light-text hover:bg-secondary-hover focus-visible:outline-secondary focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-link {
  @apply hover:text-shadow-primary/50 px-1 underline text-shadow-md;
}