@let colspan = '10';

<app-item-list
  [title]="title"
  [add]="'create'"
  [page]="page()"
  [limit]="limit()"
  [total]="total()"
  [totalPages]="totalPages()"
  [hasPreviousPage]="hasPreviousPage()"
  [hasNextPage]="hasNextPage()"
  [showFiltersButton]="true"
  (refresh)="loadUsers()"
  (firstPage)="onFirstPage()"
  (lastPage)="onLastPage()"
  (nextPage)="onNextPage()"
  (previousPage)="onPreviousPage()"
  (itemsPerPage)="onItemsPerPage($event)"
  (searchUsers)="onSearchUsers($event)"
  (onShowFilters)="toggleShowFilters()"
>
  @if (showFiltersButtons()) {
    <div
      class="flex items-center justify-center gap-2 overflow-hidden py-2 transition-all duration-1000 ease-in-out"
      [ngClass]="showFiltersButtons() ? 'h-auto opacity-100' : 'h-0 opacity-0'"
    >
      @for (role of userRoles; track role.role) {
        <button
          class="btn btn-light w-[100px] max-w-[100px] min-w-[100px] shrink"
          (click)="onRoleChange(role.role)"
        >
          {{ role.label }}
        </button>
      }
      <button
        class="btn btn-light w-[100px] max-w-[100px] min-w-[100px] shrink"
        (click)="onRoleChange(null)"
      >
        X
      </button>
    </div>
  }
  <table class="item-list-table w-full">
    <thead class="w-full">
      <tr>
        <th class="table-col-id text-center">Id</th>
        <th>Fullname</th>
        <th class="max-sm:hidden">Email</th>
        <th class="max-md:hidden">Phone</th>
        <th class="max-lg:hidden">Role</th>
        <th class="max-xl:hidden">Created By</th>
        <th class="max-xl:hidden">Updated By</th>
        <th class="max-2xl:hidden">Created At</th>
        <th class="max-2xl:hidden">Updated At</th>
        <th class="table-column-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading()) {
        <tr>
          <td [attr.colspan]="colspan" class="py-12 text-center">
            <app-spinner-tables />
          </td>
        </tr>
      } @else if (errorMessage()) {
        <tr>
          <td [attr.colspan]="colspan" class="py-12 text-center">
            <div
              class="bg-danger/5 border-danger/10 dark:border-danger/50 my-3 flex w-full flex-col items-center justify-center rounded-lg border p-6 dark:bg-transparent"
            >
              <p class="text-danger mb-2 text-xl font-bold">
                @if (errorMessage()?.includes('connect')) {
                  Server Connection Error
                } @else {
                  Error
                }
              </p>
              <p class="text-dark-text dark:text-light-text">{{ errorMessage() }}</p>
              <button (click)="loadUsers()" class="btn btn-primary mt-4">Retry Connection</button>
            </div>
          </td>
        </tr>
      } @else {
        @for (user of users(); track user.id) {
          <tr>
            <td class="table-col-id">{{ user.id }}</td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td class="max-sm:hidden">{{ user.email }}</td>
            <td class="max-md:hidden">{{ user.phoneNumber }}</td>
            <td class="max-lg:hidden">{{ user.role }}</td>
            <td class="max-xl:hidden">
              {{ user.createdBy.firstname }} {{ user.createdBy.lastname }}
            </td>
            <td class="max-xl:hidden">
              {{ user.createdBy.firstname }} {{ user.createdBy.lastname }}
            </td>
            <td class="max-2xl:hidden">{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td class="max-2xl:hidden">{{ user.updatedAt | date: 'dd/MM/yyyy' }}</td>
            <td class="table-column-actions">
              <app-item-list-table-actions [itemId]="user.id" (deleteItem)="onDeleteItem($event)" />
            </td>
          </tr>
        } @empty {
          <tr>
            <td [attr.colspan]="colspan" class="py-12 text-center">
              <p>No users found</p>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</app-item-list>
